language: php

php:
  - 5.2
  - 5.3
  - 5.4

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev

branches:
  only:
    master

notifications:
  email:
    - kotlyar.maksim@gmail.com
    - brainreflex@gmail.com